 body {
  background-color: lightblue;
  margin:0px;
  

}
.container {
  background-color: yellow;
  height: 400px;
  font-size: 40px;
  text-align: center;
  position: relative;
}
   


#bo1 {
  background-color: red;
  width: 200px;
  height: 200px;
 }
#bo2 {
  background-color:rgb(255, 102, 0);
  position:absolute;
  width:200px;
  height: 200px;
  margin: -200px 0 0 200px;
  
   }
#bo3 {
  background-color: lightseagreen;
  position:absolute;
  width: 200px;
  height: 200px;
  margin: -200px 0 0 400px;
   }
#bo4 {
  background-color: plum;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: -200px 0 0 600px;
}
#bo5 {
  width: 200px;
  height: 200px;
  background-color: greenyellow;
  position: absolute;
  margin: 00px 0 0 0;
  word-wrap: break-word;
  
}
#bo6 {

  width: 200px;
  height: 200px;

  background-color: snow;
  position: absolute;
  margin: 0 0 0 300px;
  word-wrap: break-word;
}
#bo7 {
  background-color: darkorange;
  width:200px;
  height: 200px;
  position: absolute;
  margin: 0 0 0 600px;
 
}
